<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid ">
      <a class= "navbar-brand" href="#">
        <div class="logo-image">
        <h3 style="color:rgb(9, 9, 146);"><b>one</b>burner</h3>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Product
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Enterprise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>
      
        </ul>
       
    </div>
    <div class="d-flex ">
      <div class="p-2  ">Contact Sales</div>
      <div class="p-2 ">Login</div>
      <button class="p-2 bt"><small>Try For Free <span style="padding: 10px;">&#62;</span></small></button>
    </div>
  </div>
  </nav>
  
  <section class="disabled">
    <div class="row">
      <div class="col col-lg-6 ">
        <h3 class="pd"><b>Collaborate with your team<br/> and get more done</b></h3>
        <div class="pe">
          <h6 ><b>
            Communicate effectively with Oneburner for easy<br/>
          collaboration, team work and remote work.
          </b></h6>
          <button class="p-2 b"><small>Start Free Trial<span style="padding: 6px;">&#62;</span></small></button>
        </div>
          
      </div>
     <div class="col col-lg-6">
       <div class="col col-lg-12">
        <!-- <div class="rounded-circle" style="border:dashed 1px grey ;">
        </div> -->
        <svg viewBox="0 0 120 120">
          <circle cx="55" cy="55" r="50" class="dashed" />
          <foreignObject x="5" y="5" height="100px" width="100px">
          </foreignObject>
          
        </svg>
        <div class="Circle1">
        </div>
        <div class="rectan"> <small><p>Mitchelle<br>Admin Officer</p></small>
        </div>
        <div class="im">
          <img src="/im/pexels-rfstudio-4177650 (1).jpg" alt="">
        </div>
        <div class="Circle2">
          <div class="rectan2"> <small><p>Mitchelle<br>Admin Officer</p></small></div>
        </div>
        <div class="Circle3">
          <div class="rectan3"> <small><p>Adeola<br>Manager</p></small></div>
        </div>
     </div>
     <div class="chatbox1">
      <div class="message my-message">
      <small> <p>Time to implement the new <br/> change</p></small>
      </div>
    </div>
    <div class="chatbox2">
      <div class="message other-message float-right">
      <small> <p>Yes! We are getting it<br/> done</p></small>
      </div>
    </div>
    <div class="chatbox3">
      <div class="message my-message">
      <small> <p>Deploying on product at<br/> 2AM</p></small>
      </div>
    </div>
     </div>
     
     
    </div>
    
  </section>
